form {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
h1 {
  text-align: center;
}
li {
  list-style-type:lower-roman;
}
#task-btn {
  margin-left: 5%;
  border-radius: 4rem;
  border: none;
  height: 20px;
  width: 100px;
  background-color: rgb(24, 133, 24);
  font-size: 15px;
  color: rgb(249, 245, 245);
  box-shadow: 0 3px 0 greenyellow;
}
#task-btn:hover{
  background-color: rgba(4, 154, 14, 0.795);
  scale: 1.1;

}
#task-btn:active{
  box-shadow: none;
  transform: translateY(3px);
}

#input-txt{
  border-radius: 4rem;
  border: 2px solid rgb(24, 133, 24);
}

#input-txt::placeholder{
  text-align: center;
}