body {
  background-image: url("../public/b3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
  cursor: url("../public/icons8-cursor.svg"), auto;
  
}
form {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  border: 1px solid rgba(255, 255, 255, 0.3); 
  border-radius: 4rem;
  padding: 20px;
  margin: auto;
  width: 25%;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: xxx-large;
  color: rgb(79, 186, 79);
  
}
li {
  list-style-type:lower-roman;
  width: 50%;
  background-color:rgb(234, 234, 234);
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  word-break: break-word;
  overflow: break-word;
  border-radius: 4rem;
  color: rgb(12, 7, 7);
}
#task-btn {
  margin-left: 5%;
  border-radius: 4rem;
  border: none;
  height: 30px;
  width: 70px;
  background-color: rgb(24, 133, 24);
  font-size: 20px;
  color: rgb(255, 255, 255);
  box-shadow: 0 3px 0 greenyellow;
  font-family: "Handjet", sans-serif;
}

#task-btn:hover {
  background-color: rgba(4, 154, 14, 0.795);
  transform: scale(1.1); 
  cursor: inherit;
}

#task-btn:active{
  box-shadow: none;
  transform: translateY(3px);
}

#input-txt{
  border-radius: 4rem;
  border: 2px solid rgb(24, 133, 24);
  height: 25px;
}

#input-txt::placeholder{
  text-align: center;
  font-family: "Handjet", sans-serif;
  font-weight: 800;
  font-size: medium;
  font-style: inherit;
  color: green;
}
#bin{
  position: relative;
  left: 60px;
  bottom: 20px;
}

#check-box{
  height: 20px;
  width: 20px;
  position: relative;
  left: 25px;
  top: 25px;
}